<div class="sticky-top">
  <div class="info-banner">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Pumpkin is in early development and bugs can happen. If you find any, report them on our
    <a href="https://github.com/Pumpkin-MC/Pumpkin/issues">GitHub</a>.
  </div>
  <header>
    <a href="/" class="logo">
      <img src="/assets/icon.svg" alt="Pumpkin" />
      <span>Pumpkin</span>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="https://docs.pumpkinmc.org/" class="external-nav-link" aria-label="Docs (external site)">
        <span>Docs</span>
        <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
      </a>
      <a href="/developers/">Developers</a>
      <a href="/contributors/">Contributors</a>
      <a href="https://blog.pumpkinmc.org/" class="external-nav-link" aria-label="Blog (external site)">
        <span>Blog</span>
        <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
      </a>
      <a href="https://market.pumpkinmc.org/" class="external-nav-link" aria-label="Market (external site)">
        <span>Market</span>
        <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
      </a>
    </nav>
    <button class="burger-btn" aria-label="Toggle menu" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="header-icons">
      <a href="https://github.com/Pumpkin-MC/Pumpkin" class="icon-btn" title="GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://discord.gg/pumpkinmc" class="icon-btn" title="Discord">
        <i class="fa-brands fa-discord"></i>
      </a>
      <a href="https://x.com/pumpkinmcdev" class="icon-btn" title="X (Twitter)">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.youtube.com/@PumpkinServer" class="icon-btn" title="YouTube">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="https://github.com/sponsors/Pumpkin-MC" class="sponsor-btn" title="Sponsor">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href="/download/" class="download-btn">Download</a>
    </div>
  </header>
</div>

<script>
  import "../scripts/nav";
</script>
